

@import "tailwindcss";

@theme {
--font-thamanyahDisplayBold: "ThamanyahDisplayBold";
--font-thamanyahTextMeduim:"ThamanyahTextMeduim";
--font-thamanyahTextLight:"ThamanyahTextLight";
}
/* define font */
@font-face {
  font-family: "ThamanyahDisplayBold";
  src: url("../src/assets/fonts/thamanyahtypeface/thmanyahserifdisplay/woff2/thmanyahserifdisplay-Black.woff2");
}

@font-face {
  font-family: "ThamanyahTextMeduim";
  src: url("../src/assets/fonts/thamanyahtypeface/thmanyahseriftext/woff2/thmanyahseriftext-Medium.woff2");
}

@font-face{
  font-family: "ThamanyahTextLight";
  src: url("../src/assets/fonts/thamanyahtypeface/thmanyahseriftext/woff2/thmanyahseriftext-Light.woff2");
}
/* for general style  */
:root {
  --primaryColor--: rgba(34, 83, 147);
  --bgColor--: rgb(255, 255, 255);
  --secandaryColor--: rgb(182, 188, 193);
  --textColor--: rgb(255, 255, 255);
  --bgCircle--: rgb(239, 246, 255);
  --black--: rgb(14, 7, 7);
 
}

html, body {
  width: 100%;
  overflow-x: hidden;

}