

@import "tailwindcss";

/* for general style  */
:root {
  --primaryColor--: rgba(34, 83, 147);
  --bgColor--: rgb(255, 255, 255);
  --secandaryColor--: rgb(182, 188, 193);
  --textColor--: rgb(255, 255, 255);
  --bgCircle--: rgb(239, 246, 255);
  --font-fontBold: "boldFont";
  --extraBoldFont--: "extraBold";
  --meduimFont--:"mediumFont":
}
/* تعريف خطوط مخصصة */
@font-face {
  font-family: "boldFont";
  src: url(/src/assets/fonts/Tajawal-Bold.ttf);
}

@font-face {
  font-family: "extraBold";
  src: url(/src/assets/fonts/Tajawal-ExtraBold.ttf);
}

 @font-face{
font-family: "mediumFont" ;
src: url(/src/assets/fonts/Tajawal-Medium.ttf)
}

/* @font-face{
font-family: --mediumFont-- ;
src: url(/src/assets/fonts/Tajawal-Medium.ttf)
}


@font-face{
font-family: --regularFont-- ;
src: url(/src/assets/fonts/Tajawal-Regular.ttf)
} */

h1,h2,nav , h3,p,span {
  font-family: var(--font-fontBold)
}
 /* h3,p,a{
  font-family: var(--meduimFont--);
 } */
/* *{
    font-family: var(--meduimFont--);
} */
*{
    font-family: var(--font-fontBold)

}
/* body {
  margin: 0;
  overflow-x: hidden;
} */
html, body {
  width: 100%;
  overflow-x: hidden;

}